body {
  margin: 0;
  height: 100vh;
  background: url(./images/tea-table.jpg) no-repeat center center / cover;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  font-size: 70px;
  color: #ece4e1;
  font-family: 'Nanum Gothic';
}

.tea {
  position: fixed;
  top: 40px;
  right: 800px;
  text-shadow: 15px 15px 30px #000000;
}

.take-a-seat-container {
  position: fixed;
  bottom: 40px;
  right: 110px;
  text-align: center;
}

.take-a-seat-button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

.take-a-seat-button:hover {
  background-color: #feb47b;
  transform: translateY(-3px);
}

.hover-content {
  display: none;
  position:absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('./images/tea-cup-flowers-front-view.jpg');
  background-size: cover;
  background-position: left;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
  color: #fff;
  justify-content: center;;
}

.take-a-seat-container:hover .hover-content,
.take-a-seat-container:focus-within .hover-content {
  display: block;
}

.hover-link {
  color: #3a1a1a;
  font-size: 16px;
  text-align: right;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.hover-link:hover {
  text-decoration: underline;
}

.recipe-container {
  position: fixed;
  top: 64.5%;
  left: 300px;
  transform: translateY(-50%);
  text-align: center;
}

.recipe-button  {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.recipe-button:hover {
  background-color: #feb47b;
  transform: translateY(-3px);
}

.recipe-content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 300px;
  background-image: url('./images/tea-recipe.jpg');
  background-size: cover;
  background-position: center;
  color: #3a1a1a;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
}

.recipe-container:hover .recipe-content,
.recipe-container:focus-within .recipe-content {
  display: block;
}

.recipe-content h2 {
  font-size: 18px;
  margin: 0 0 10px;
  padding-top: 40px;
}

.recipe-content p {
  font-size: 14px;
  margin: 0;
  padding-top: 20px;
}

.origin-container {
  position: fixed;
  top: 50%;
  right: 400px;
  transform: translateY(-50%);
  text-align: center;
}

.origin-button {
  padding: 15px;
  font-size: 14px;
  background-color: rgba(43, 21, 14, 0.8);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.origin-button:hover {
  background-color: #A0522D;
  transform: translateY(-3px);
}

.origin-content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 300px;
  background-image: url('./images/tea-history.jpg');
  background-size: cover;
  background-position: center;
  color: #3a1a1a;
  padding: 38px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  justify-content: center;
  font-size: small;
}

.origin-container:hover .origin-content,
.origin-container:focus-within .origin-content {
  display: block;
}

.origin-content h2 {
  font-size: 18px;
  margin: 0 0 10px;
  padding-top: 40px;
}

.origin-content p {
  font-size: 14px;
  margin: 0;
  padding-top: 20px;
}

.origin-content a {
  font-size: 14px;
  margin-top:auto;
  color: #3a1a1a;
  padding-bottom: 100px;
}
